div.um {
    width: 110px;
    height: 190px;

    position: absolute;
    left: 130px;
    top: 20px;
}

div.dois {
    width: 110px;
    height: 190px;

    position: absolute;
    left: 260px;
    top: 20px;
}

div.tres {
    width: 110px;
    height: 190px;

    position: absolute;
    left: 390px;
    top: 20px;
}