html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right, rgb(9, 10, 12), rgb(20, 20, 20));
}
.container {
  position: absolute;
  top: 15%;
  margin-right: auto;
  margin-left: 25%;
  width: 50%;
}
.container h1 {
  color: rgb(132, 149, 159);
  letter-spacing: 1px;
  text-align: center;
}
.inputCadastro {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: rgb(132, 149, 159);
  background-color: rgb(26, 29, 30);
  border-radius: 3px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.5s ease;
}
label {
  color: rgb(132, 149, 159);
}
.btn {
  width: 100%;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: rgba(237, 20, 92, 0.596);
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  cursor: pointer;
  border-radius: 3px;
  *margin-left: 0.3em;
}
.btn-grande {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
}
.btn:hover {
  color: #333333;
  background-color: rgba(237, 20, 92, 0.473);
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}
.btn-1 {
  background-color: transparent;
  border: 1px solid rgba(237, 20, 92, 0.473);
  color: rgba(237, 20, 92, 0.473);
  transition-duration: 0.4s;
}
.btn-1:hover {
  color: rgb(0, 0, 0);
}
.btn-bloco {
  width: 100%;
  display: block;
}
.edicao {
  display: flex;
  margin: auto;
  width: 300px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
